<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>carChoice</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SelectAuto</display-name>
    <servlet-name>SelectAuto</servlet-name>
    <servlet-class>proj1.servlet.SelectAuto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectAuto</servlet-name>
    <url-pattern>/SelectAuto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfigureAuto</display-name>
    <servlet-name>ConfigureAuto</servlet-name>
    <servlet-class>proj1.servlet.ConfigureAuto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfigureAuto</servlet-name>
    <url-pattern>/ConfigureAuto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Index</display-name>
    <servlet-name>Index</servlet-name>
    <servlet-class>proj1.servlet.Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/Index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Upload</display-name>
    <servlet-name>Upload</servlet-name>
    <servlet-class>proj1.servlet.Upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/Upload</url-pattern>
  </servlet-mapping>
</web-app>